.header {
  background-color: white;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.1rem;
  padding: 1rem;
  width: 100%;
}

.nav__menu a {
  margin-right: 1rem;
}

.nav__account a {
  margin-left: 1rem;
}

.nav__link {
  text-decoration: none;
  color: grey;
  font-weight: 400;
}
