.header {
  background-color: white;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.05rem;
  padding: 1rem;
  width: 100%;
}

.nav__menu a {
  margin-right: 1rem;
}

.nav__account a {
  margin-left: 1rem;
}

.nav__link {
  text-decoration: none;
  color: grey;
  font-weight: 400;
  transition: all 400ms ease-in-out ;
}

.nav__link:hover {
  color: rgb(39, 146, 241);
}

.nav__link_account {
  background: linear-gradient(90deg, rgba(115,180,240,1) 0%, rgba(60,155,240,1) 35%, rgba(35,140,240,1) 100%);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 0.6rem 1rem;
  text-decoration: none;
}