.header__nav {
  color: grey;
  letter-spacing: 0.05rem;
  margin: 1rem 1rem 1rem 2rem;
  width: max-content;
  position: relative;
  transition: all 300ms ease-in-out;
}

.nav__menuContainer {
  /* display: none; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 1px rgba(212, 212, 212, 0.5);
  position: absolute;
  z-index: 1;
  padding: 1rem 2rem;
  width: max-content;
  transition: all 300ms ease-in-out;
  animation: unfade 300ms;
}

.header__nav:hover {
  cursor: pointer;
  color: rgb(39, 146, 241);
}

.hidden {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 0;
  width: 100%;
}

.nav__li {
  list-style: none;
  margin-bottom: 1rem;
}

.nav__link {
  color: grey;
  font-weight: 400;
  transition: all 300ms ease-in-out ;
  text-decoration: none;
  position: relative;
}

.nav__link::after,
.header__nav::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: rgb(39, 146, 241);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.nav__link:hover::after,
.nav__link:focus::after,
.header__nav:hover::after,
.header__nav:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.nav__link:hover {
  color: rgb(39, 146, 241);
}

.nav__account {
  padding: 1rem 0 0 0;
}

.nav__button_sign {
  background: linear-gradient(90deg, rgba(115,180,240,1) 0%, rgba(60,155,240,1) 35%, rgba(35,140,240,1) 100%);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 0.6rem 1rem;
  text-decoration: none;
}


/* MEDIA QUERIES */

@media all and (max-width: 375px) {
  .nav__menuContainer {
    padding: 1rem 1rem;
  }
}

@media all and (max-width: 500px) {
  .header__nav {
    margin-left: 0;
  }
}