.favorites{
    color: rgb(4, 10, 66);
    text-align: center;
}

.favorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffd69d;
    border-radius: 8px;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    width: 90%;
   align-items: flex-start;
}
.img{
    width: 26%;
     max-height: 35rem; 
     object-fit: cover;
      align-self: left;
      border-radius: 8px;
      margin: 0.5rem 3rem 0.5rem 0.5rem ;
    }
    .carte{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: rgb(4, 10, 66);
       
    }
    .material-symbols-outlined{
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    
      
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
    }
    .button{
        align-items: end;
        width: 2rem;
        height: 2rem;
       margin: auto;
       margin-left: 550px;
        

    }

