.article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    /* background-color: #ececec; */
    border-radius: 20px;
    /* box-shadow: 2px 2px 20px 1px rgb(212, 212, 212); */
    height: auto;
    width: 30%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.article:hover {
    box-shadow: 2px 2px 20px 1px rgba(212, 212, 212, 0.5);
    scale: 1.01;
}

.article__link{
    position: relative;
    text-decoration: none;
}

.article__img {
    width: 100%;
    height: 20rem;
    align-items: center;
    border-radius: 20px;
    object-fit: cover;
}

.article__title {
    color:rgb(4, 10, 66);
    text-align: center;
    padding: 0.5rem 1rem 0 1rem;
}

.article__auteur_date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.35rem;
    color: gray;
    font-weight: 300;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 0.75rem;
}

.auteur__img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 0.35rem;
}

.article__pseudo {
    font-weight: 600;
}

.article__date {
    font-weight: 400;
}

.article__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    padding: 1rem;
    color: darkslategrey;
    font-weight: 400;
}

.article__category {
    background: linear-gradient(90deg, rgba(115,180,240,1) 0%, rgba(60,155,240,1) 35%, rgba(35,140,240,1) 100%);
    border-radius: 50px;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    width: max-content;
}

.favorite__button_empty {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2%;
    right: 2%;
}


.favorite__button_full {
    display: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2%;
    right: 2%;
}

.article__link_continue {
    color: rgb(39, 146, 241);
    font-weight: 300;
    text-decoration: none;
    width: max-content;
}


/* MEDIA QUERIES */

@media all and (max-width: 749px) {
    .article {
        width: 100%;
    }
}

@media all and (min-width: 750px) and (max-width: 1350px) {
    .article {
        width: 45%;
    }
}

@media all and (min-width: 1920px) {
    .article {
        width: 20%;
    }
}

