.main {
  margin: 3rem 0 3rem 0;
}

.article {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.article__image {
  border-radius: 20px;
  max-height: 35rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.article__title {
  color: rgb(4, 10, 66);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.article__auteur_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  color: gray;
  font-weight: 300;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 0.75rem;
  margin: 0 1rem 1rem 1rem;
}

.auteur__img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 0.35rem;
}

.article__auteur {
  font-weight: 600;
}

.article__date {
  font-weight: 400;
}

.article__category {
  background: linear-gradient(
    90deg,
    rgba(115, 180, 240, 1) 0%,
    rgba(60, 155, 240, 1) 35%,
    rgba(35, 140, 240, 1) 100%
  );
  border-radius: 50px;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

.article__text {
  color: darkslategrey;
  margin: 0 1rem 0 1rem;
  text-align: justify;
}

.article__text h2 {
  color: rgb(4, 10, 66);
  margin-bottom: 0.5rem;
}

.article__text p {
  margin-bottom: 2rem;
}

/* MEDIA QUERIES */

@media all and (max-width: 374px) {
  .article__title {
    font-size: 1.25rem;
    text-align: center;
  }

  .article__text h2 {
    font-size: 1.25rem;
  }
}

@media all and (min-width: 375px) and (max-width: 749px) {
  .article__title {
    font-size: 1.5rem;
  }

  .article__text h2 {
    font-size: 1.35rem;
  }
}

@media all and (min-width: 1350px) and (max-width: 1649px) {
  .article {
    width: 60%;
  }
}

@media all and (min-width: 1650px) {
  .article {
    width: 50%;
  }
}
