.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
}

.article__image {
  border-radius: 50%;
  object-fit: cover;
  width: 25rem;
  height: 25rem;
  margin-bottom: 3rem;
}

.title {
  color: rgb(4, 10, 66);
  margin-bottom: 1rem;
}

.article__text {
  margin-bottom: 1rem;
  text-align: justify;
}


/* MEDIA QUERIES */

@media all and (max-width: 768px) {
  .main {
    width: 80%;
  }
  
  .article__image {
    width: 15rem;
  height: 15rem;
  }
}

@media all and (min-width: 1750px) {
  .main {
      width: 30%;
  }
}