.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.main__title {
  font-size: 4rem;
  color: #0E2E57;
}

.main__articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}


/* MEDIA QUERIES */

@media all and (max-width: 374px) {
  .main__title {
      font-size: 2rem;
  }
}

@media all and (min-width: 375px) and (max-width: 749px) {
  .main__title {
      font-size: 3rem;
  }
}

@media all and (max-width: 749px) {
  .main {
      align-items: center;
  }
}