.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.main__title {
  font-size: 4rem;
  color: #0E2E57;
}

.main__articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
}