.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.main__title {
  color: #0E2E57;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.main__textcontainer {
  margin: 2rem 0;
}

.main__subtitle {
  color: #0E2E57;
  margin-bottom: 1rem;
}

.main__textcontainer p {
  color: darkslategrey;
  margin-bottom: 1rem;
  text-align: justify;
}

.main__articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}


/* MEDIA QUERIES */

@media all and (max-width: 374px) {
  .main__title {
      font-size: 2rem;
  }
}

@media all and (min-width: 375px) and (max-width: 749px) {
  .main__title {
      font-size: 3rem;
  }
}

@media all and (max-width: 749px) {
  .main {
      align-items: center;
  }
}

@media all and (min-width: 1350px) {
  .main__textcontainer {
    width: 65%;
  }
}