.card{
    background-color: #ffd69d;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom:3rem ;
    }
    
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(4, 10, 66);
        margin-top: 3%;
    }
    
    .contenent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 4%;
        margin-bottom: 5%;
        
    }
    .p{
        margin-top: 2rem;
        
    }