.users{
    display: flex;
    flex-direction: column;
    padding: 4rem 10rem 4rem 10rem;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffd69d;
    border-radius: 8px;
    margin-top: 1.5rem;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    margin:1rem;
    text-align: center;
    padding: 1em;
    font-size: 20px;
}
.title{
    text-align: center;
    color: rgb(4, 10, 66);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
 
