
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.search{
    display: flex;
   align-items: end;
   flex-direction: row-reverse;

}
.input{
    border-radius: 8px;
    padding-top: 0.7rem;
}
.button{
    margin-left: 1rem;
    border-radius: 8px;
    margin-right: 2rem;

}